<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Teste</title>

    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        font-family: sans-serif;
      }

      .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1>Users</h1>

      <a href="/">Início</a>
      <button class="log-button">LOG</button>
    </div>

    <script type="module" src="../../public/scripts/main.js"></script>
  </body>
</html>
